<h1><%= pluralize(@artists.count, "Artist") %></h1>
<ul>
    <% @artists.each do |a|%>
        <li><%= link_to a.name + "(" + pluralize(a.song_count, "song") + ")", artist_path(a) %></li>
    <% end %>
</ul>